{% extends "base.html" %}


{% block content %}
<div class="p-5">
    <div class="col-md-3 mx-auto p-5 bg-white border border-dark rounded">
        <form method="POST">
            {% csrf_token %}

            <legend class="border-bottom mb-3">Регистрация</legend>

            {% for field in form %}
            <div class="form-group mt-3">
                {{ field.label_tag }}
                {{ field }}
            </div>
            <div class="mb-3">
                <span class="form-text text-danger">
                  {{ field.errors | striptags}}
                </span>
            </div>
            {% endfor %}

            <div class="col-md-5 mx-auto">
                <button class="btn btn-outline-primary mt-4 mb-2 w-100" type="submit">Create account</button>
            </div>

        </form>
        <div class="border-top mt-3 pt-1">
            <small class="text-muted">
                Уже есть аккаунт? <a class="ml-2" href="{% url 'login' %}">Войти</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}